:root {
  --white: #FFFFFF;
  --gray-50:#E1DFE0;
  --gray-100:#E5E5E5;
  --gray-300: rgba(47, 37, 68, 0.15);
  --gray-350:rgba(47, 37, 68, 0.25);
  --purple-500:#8C56C2;
  --purple-300:#7B6490;
  --purple-200:#2F2544;
  --blue-100:#03CADA;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
background: var(--gray-100);
}
body, button, p, span {
font:400 1rem 'Roboto', sans-serif;

}
ul {
list-style: none;
}
